.right-panel {
    position: absolute;
    right: 0;
    width: 450px;
    height: 250px;
    border: 1px solid darkslategrey;
    z-index: 1;
    background: whitesmoke;
    padding: 15px;
    margin: 5px;
}
.right-panel label, .right-panel select {
    margin: 0 10px 10px 0;
}
.hidden {
    display: none;
}